@use "../../styles/color" as *;

.text_style{
    color: $text-primary;
    font-family:sans-serif ;
    font-weight: 500;
    font-size: 14px;
}

.item_class{
padding: 0px 5px 5px;
border-radius: 5px;
}

.activItem{
padding: 0px 5px 5px;
border-radius: 5px;
background:$border;
}

.login_btn{
    border: 1px solid $primary;
    color: $primary;

    &:hover{
        background: $primary;
        color: #fff;
    }
}

