@use "../../../styles/color" as *;

.form_label{
padding-bottom:5px;
color:$primary
}

.form_input{
    padding:6px;
    border:1px solid $border;
    border-radius: 8px;
    text-transform: capitalize;
}

.formButtom{
  padding-top: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_btn{
    border: 1px solid $accent;
    background-color: $accent;
    color: #fff;
    border-radius: 10px;
    padding: 5px 32px;
    &:hover{
        background: $accent-dark;
        color: #fff;
    }
}

