<section class="card_bg">
  <div class="text-center p-5">
    <div class="text_header d-flex justify-content-center align-items-center">
        <p class="badge rounded-pill border text-capitalize">Bus-Train-Flight-Hotel,One Account</p>
    </div>
    <div>
        <h1 class="banner_text">Plan Your Journery</h1>
         <p class="banner_text">Book your next trip with ease. Compare fares across operators, pick</p>
        <p class="banner_text">your seat, and pay in one place.</p>
    </div>
    <div>
    </div>
  </div>
  </section>
